<% if @deputy.current_error_level != 0 %>
  <%= form_for @deputy do |f| %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :current_error_level, {:value => 0} %>
    <%= submit_tag 'reset error level', :class => 'btn btn-primary' %>
    <a rel="popover"
            title="Reset Error Level"
            data-content='sometimes error level needs manual resetting'>
          <i class='icon-question-sign'></i>
    </a>
  <% end %>
<% end %>


<%= form_for @deputy do |f| %>
  <%= f.error_messages %>

  <table class="sharp">
    <tr>
      <td>Human Name</td>
      <td><%= f.text_field :human_name %></td>
    </tr>
    <tr>
      <td>Name (Used for recognition!)</td>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <td>Address (Used for recognition!)</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>Disabled until</td>
      <td><%= f.text_field :disabled_until, :value => @deputy.disabled_until.try(:to_s, :db) %></td>
    </tr>
  </table>

  <% @deputy.deputy_plugins.build %>
  <h3>Plugins</h3>
  <div class="well">
    <% if Plugin.any? %>
      <%= f.fields_for :deputy_plugins do |child| %>
        <%= child.hidden_field :deputy_id %>
        Run <%= child.select :plugin_name, [nil] + Plugin.names %>
        every
        <%= child.text_field :interval_value, :size => 5, :class => 'span1'  %>
        <%= child.select :interval_unit, time_units_for_select(:without => 'Seconds'), {}, :class => 'span2' %>.
        <br />
      <% end %>
      <%= submit_tag 'Save', :class => 'btn btn-primary' %>
    <% else %>
      <%= link_to 'Create your first plugin now :)', new_plugin_path %>
    <% end %>
  </div>
<% end %>

<h3>Reports <small>(Last report <%= time_ago @deputy.last_report_at %>)</small></h3>
<table class="sharp">
  <tr>
    <th></th>
    <th><%= sort_head 'Group', :column => :group_id %></th>
    <th><%= sort_head 'Value' %></th>
    <th><%= sort_head 'Reported at' %></th>
    <th></th>
  </tr>
  <% @deputy.reports.all(:include => [{:group => :group}, :validations], :order => (params[:order] || 'reported_at desc'), :limit => 30).each do |report| %>
    <%= render :partial => 'reports/report_row', :locals => {:report => report, :hide_deputy => true} %>
  <% end %>
</table>
