<% form_for @deputy do |f| %>
  <%= f.error_messages %>
  <% @deputy.deputy_plugins.build %>
  <h3>Plugins</h3>
  <%= f.fields_for :deputy_plugins do |child| %>
    <%= child.hidden_field :deputy_id %>
    Run <%= child.select :plugin_name, [nil] + Plugin.names %>
    every
    <%= child.text_field :interval_value, :size => 5 %>
    <%= child.select :interval_unit, time_units_for_select(:without => 'Seconds') %>.
    <br />
  <% end %>
  <%= f.submit 'Save' %>
<% end %>

<h3>Reports (Last report <%= time_ago @deputy.last_report_at %>)</h3>
<table>
  <tr>
    <th></th>
    <th>Group</th>
    <th>Value</th>
    <th>Reported at</th>
  </tr>
  <% @deputy.reports(:include => :group).each do |report| %>
    <%= render :partial => 'reports/report_row', :locals => {:report => report, :hide_deputy => true} %>
  <% end %>
</table>