<h1><%= @deputy.full_name %></h1>

<% form_for @deputy do |f| %>
  <% @deputy.deputy_plugins.build; @deputy.deputy_plugins.build %>

    <%= f.fields_for :deputy_plugins do |child| %>
      <%= child.hidden_field :deputy_id %>
      <%= child.select :plugin_name, [nil] + Plugin.names %>
      <br />
    <% end %>
  <%= f.submit %>
<% end %>


<table>
  <% @deputy.reports(:include => :group).each do |report| %>
    <tr>
      <td><%= link_to_object report.group %></td>
      <td><%= report.value %></td>
      <td><%= report.updated_at.to_s(:db) %></td>
    </tr>
  <% end %>
</table>