<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <% grouped_alerts = @alerts.group_by{|x| x.report} %>
    <h1><%= @alerts.size %> errors happened in <%= @timeframe / 60.0 %> minutes</h1>

    <% grouped_alerts.each do |report, alerts|  %>
      <p>
        <h3> <%= link_to(report.full_name, "#{CFG[:domain]}/reports/#{report.id}" ) %></h3>
        <% alerts.each do |alert| %>
          <p>
            <% time_link = "#{alert.created_at.to_s(:db)} (#{time_ago(alert.created_at)})" %>
            <%= time_link %>
            <%= alert.message.html_safe %>
          </p>
        <% end %>
      </p>
    <% end %>
  </body>
</html>