<% if @plugin.deputy_plugins.present? %>
  <h3>Run by</h3>
  <table class="sharp">
    <% @plugin.deputy_plugins.all(:include => :deputy).each do |deputy_plugin| %>
      <tr>
        <td><%= link_to_object deputy_plugin.deputy %></td>
        <td>every <%= deputy_plugin.humanized_interval %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Code</h3>
<%= form_for @plugin do |f| %>
  <%= f.error_messages %>
  <table class="sharp">
    <tr>
      <td>Name</td>
      <td>
        <%= f.text_field :name, :placeholder => 'MyPlugin', :class => 'span7' %>
      </td>
    </tr>
    <tr>
      <td>Copied from</td>
      <td>
        <%= f.text_field :url, :size => '80', :placeholder => "http://example.com/myplugin.rb", :class => 'span7' %>
      </td>
    </tr>
    <tr>
      <td>Code</td>
      <td>
        <% @plugin.code = Plugin::EXAMPLE_CODE if @plugin.new_record? %>
        <%= f.text_area :code, :style => "display:none;" %>
      </td>
    </tr>
  </table>
  <%= submit_tag 'Save', {:id => 'submit_plugin', :class => 'btn btn-primary'} %>
<% end %>



<script type="text/javascript">
$(document).ready(
  function(){
    // setup editor
    // $('#container').css('width', 800);
    // $('#container').css('height', 600);
    var editor = ace.edit("editor");
    editor.resize();
    window.editor = editor;
    var rubyMode  = require("ace/mode/ruby").Mode;
    editor.getSession().setMode(new rubyMode());

    // update the textarea for code before submitting
    $("#plugin_code").hide();
    $('form.edit_plugin').submit(function(e){
      $("#plugin_code").text(editor.getSession().getValue());
      //e.preventDefault();
    });
});
</script>

<div id="container" style="position:relative;">
   <div id="editor" style="position:absolute; top:0;bottom:0;left: 0;right:0"><%= @plugin.code %></div>
</div>

<style type="text/css">
  #editor {
    position: relative;
    overflow: hidden;
    height:300px;
    left: 0;
    right: 0;
  }
</style>



