<% if @plugin.deputy_plugins.present? %>
  <h3>Run by</h3>
  <table class="sharp">
    <% @plugin.deputy_plugins.all(:include => :deputy).each do |deputy_plugin| %>
      <tr>
        <td><%= link_to_object deputy_plugin.deputy %></td>
        <td>every <%= deputy_plugin.humanized_interval %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<h3>Code</h3>
<%= form_for @plugin do |f| %>
  <%= f.error_messages %>
  <table class="sharp">
    <tr>
      <td>Name</td>
      <td>
        <%= f.text_field :name, :placeholder => 'MyPlugin', :class => 'span7' %>
      </td>
    </tr>
    <tr>
      <td>Copied from</td>
      <td>
        <%= f.text_field :url, :size => '80', :placeholder => "http://example.com/myplugin.rb", :class => 'span7' %>
      </td>
    </tr>
    <tr>
      <td>Code</td>
      <td>
        <% @plugin.code = Plugin::EXAMPLE_CODE if @plugin.new_record? %>
        <%= f.text_area :code, :size => '80x20', :style => "width:90%;" %>
      </td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
