<%= link_to_new %>
<%= paginate collection %>
<table class="sharp">
  <% collection.each do |plugin| %>
    <tr>
      <td><%= link_to_object plugin %></td>
      <td><%= plugin.created_at.to_s(:db) %></td>
    </tr>
  <% end %>
</table>
<%= paginate collection %>
