<%= link_to_new %>
<%= will_paginate collection %>
<table>
  <% collection.each do |plugin| %>
    <tr>
      <td><%= link_to_object plugin %></td>
      <td><%= plugin.created_at.to_s(:db) %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate collection %>