<div class="well" style="padding: 8px 0;">
  <ul class="nav nav-list">
    <% Group.level1.each do |group| %>
    <li <%= error_attribute group %>>
      <i class="icon-plus nav-toggler"></i>
      <%= link_to_object group, :name => "#{name_for_object(group)} (#{group.children.count})".html_safe %>
        <% display_children =  is_current_or_parent?(group) ? 'block' : 'none' %>
        <ul style='display:<%= display_children %>;'>
        <% group.children.each do |child| %>
          <li <%= error_attribute child %>>
            <%= link_to child.name, child, :class => (child == @group ? 'active' : '') %>
          </li>
        <% end %>
      </ul>
    </li>
  <% end %>
  </ul>
</div>


<script type="text/javascript">
 $(document).ready(function(){
    $('#sidebar i').live('click', function(a, event){
      var childNode = a.originalEvent.toElement;
      $(childNode).siblings('ul').toggle();
    })
 });
</script>