<table>
  <tr>
    <th>Deputy</th>
    <th>Value</th>
    <th>at</th>
  </tr>
  <% @group.reports(:join => :deputy, :include => :deputy, :sort => 'deputies.name').each do |report| %>
    <tr>
      <td><%= link_to_object report.deputy %></td>
      <td><%= report.value %></td>
      <td><%= report.updated_at.to_s(:db) %></td>
      <td><%= link_to_edit report %></td>
      <td><%= link_to_delete report, :text => 'x' %></td>
    </tr>
  <% end %>
</table>