<% content_for :head do %>
  <script>
    jQuery(function($) { Sheriff.Groups.observeInputControls("tr.error_level_0") })
  </script>
<% end %>

<% hide_group = !@group.level1? %>
<%= form_for Report.new, :url => '/reports/batch_validate' do |f| %>
  <table>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <% unless hide_group %>
        <th><%= sort_head 'Group', :column => :group_id %></th>
      <% end %>
      <th><%= sort_head 'Deputy', :column => :deputy_id %></th>
      <th class='max_width_200'><%= sort_head 'Value' %></th>
      <th><%= sort_head 'time', :column => :reported_at %></th>
    </tr>
    <% @group.reports_or_children_reports.all(:include => [:deputy, :validations], :order => (params[:order] || 'reported_at desc')).each do |report| %>
      <%= render :partial => 'reports/report_row', :locals => {:report => report, :hide_group => hide_group, :checkbox => true} %>
    <% end %>
  </table>

  <hr />

  <%= render 'reports/validation_form', :f => f %>
  <%= toogle_all_check_boxes 'report_id', :text => 'all reports' %> <%= nbsp(4) %>
  <%= check_box_with_label 'overwrite', true, true, 'Overwrite' %> <%= nbsp(4) %>
  <%= f.submit 'Add validations' %>
<% end %>
