<% content_for :head do %>
  <script>
    jQuery(function($) { Sheriff.Groups.observeInputControls("tr.error_level_0") })
  </script>
<% end %>

<% hide_group = !@group.level1? %>
<% if @group.current_error_level != 0 %>
  <%= form_for @group do |f| %>
    <%= f.hidden_field :id %>
    <%= f.hidden_field :current_error_level, {:value => 0} %>
    <%= submit_tag 'reset error level', :class => 'btn btn-primary' %>
    <a rel="popover"
            title="Reset Error Level"
            data-content='sometimes error level needs manual resetting'>
          <i class='icon-question-sign'></i>
    </a>
  <% end %>

<% end %>
<h3>Is running on following deputies: </h3>
<%= form_for Report.new, :url => '/reports/batch_validate' do |f| %>
  <table class="sharp">
    <tr>
      <th></th>
      <% unless hide_group %>
        <th><%= sort_head 'Group', :column => :group_id %></th>
      <% end %>
      <th><%= sort_head 'Deputy', :column => :deputy_id %></th>
      <th class='max_width_200'><%= sort_head 'Value' %></th>
      <th><%= sort_head 'Time', :column => :reported_at %></th>
      <th></th>
    </tr>
    <% @group.reports_or_children_reports.all(:include => [:deputy, :validations], :order => (params[:order] || 'current_error_level desc, reported_at desc')).each do |report| %>
      <%= render :partial => 'reports/report_row', :locals => {:report => report, :hide_group => hide_group, :checkbox => true} %>
    <% end %>
  </table>

  <hr />

  <%= render 'reports/validation_form', :f => f %>
  <%= toogle_all_check_boxes 'report_id', :text => 'all reports', :class => 'btn' %> <%= nbsp(4) %>
  <%= check_box_with_label 'overwrite', true, true, 'Overwrite', {:class => 'checkbox inline'} %> <%= nbsp(4) %>
  <%= submit_tag 'Add validations', :class => 'btn btn-primary' %>
<% end %>
