<h2>Notifications</h2>

<%= form_tag :action => :update do %>
  <%
    notifications = @settings['notifications'] || []
    notifications << {}

    notifications.each do |notification_data|
  %>
    <% input_fields = %w(name phone_number mail enabled).map do |key| %>
      <% if key == "enabled" %>
        <%= check_box_tag("settings[notifications][][#{key}]", 1, !!notification_data[key.to_sym], :placeholder => key.humanize) %>
        enabled
      <% else %>
        <%= text_field_tag "settings[notifications][][#{key}]", notification_data[key.to_sym], :placeholder => key.humanize, :style => "width: 200px" %>
      <% end %>
    <% end %>
    <br><br>
  <% end %>

  <%= check_box_tag "settings[send_sms]", 1, !!@settings['send_sms'] %> send_sms <br/><br/>
  
  <%= check_box_tag "settings[run_cron]", 1, !!@settings['run_cron'] %> run_cron <br/><br/>

  <%= submit_tag 'save' %>
  <%= link_to 'Test settings (save first)', '/settings/test' %>
<% end %>
