<h2>Notifications</h2>

<%= form_tag :action => :update do %>
  <%
    notifications = @settings['notifications'] || []
    notifications << {}

    notifications.each do |notification_data|
  %>
    <% input_fields = %w(name phone_number mail enabled).map do |key| %>
      <% if key == "enabled" %>
        <%= check_box_tag("settings[notifications][][#{key}]", 1, !!notification_data[key.to_sym], :placeholder => key.humanize) %>
        enabled
      <% else %>
        <%= text_field_tag "settings[notifications][][#{key}]", notification_data[key.to_sym], :placeholder => key.humanize, :style => "width: 200px" %>
      <% end %>
    <% end %>
    <br><br>
  <% end %>

  <%= text_field_tag "settings[send_sms]", 0, :type => "hidden" %>
  <%= check_box_tag "settings[send_sms]", 1, Boolean(@settings['send_sms']) %> send_sms <br/>
  <%= text_field_tag "settings[run_cron]", 0, :type => "hidden" %>
  <%= check_box_tag "settings[run_cron]", 1, Boolean(@settings['run_cron']) %> run_cron <br/>



  <br/>
  <%= submit_tag 'Save', :class => 'btn btn-primary' %>
  <%= link_to 'Test settings (save first)', '/settings/test' %>
<% end %>


<h3>Reset Validations <small>(if you fixed a bigger issue and don't want to wait for all validations to pass)</small></h3>
<%= form_tag :action => :reset do %>
  <%= submit_tag 'RESET', :class => 'btn btn-primary' %>
<% end %>