<h2>Notifications</h2>

<%= form_tag :action => :update do %>
  <%
    settings = @settings['notifications'] || []
    settings << {}
  %>
  <% settings.each do |notification_data| %>
    <%= text_field_tag 'settings[notifications][][name]',         notification_data[:name],         :placeholder => 'Name' %> :
    <%= text_field_tag 'settings[notifications][][phone_number]', notification_data[:phone_number], :placeholder => 'Phone Number' %>
    <%= text_field_tag 'settings[notifications][][mail]',         notification_data[:mail], :placeholder => 'Mail' %>
    <br/><br/>
  <% end %>

  <%= submit_tag 'save' %>
<% end %>
