<%= will_paginate collection %>
<table>
  <% collection.each do |alert| %>
    <tr <%= error_attribute(alert) %>>
      <td><%= detailed_time alert.created_at %></td>
      <td><%= link_to_object alert.report %></td>
      <td><%= alert.message %></td>
      <td><%= link_to_delete alert, :text => 'x' %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate collection %>