<% hide_group ||= false %>
<% hide_deputy ||= false %>
<tr <%= error_attribute(report) %>>
  <td>
    <%= short_validations report %>
    <%= link_to_edit report, :text => 'Details' %>
  </td>
  <% unless hide_group %>
    <td><%= link_to_object report.group %></td>
  <% end %>
  <% unless hide_deputy %>
    <td><%= link_to_object report.deputy %></td>
  <% end %>
  <td><%= report.value %></td>
  <td><%= detailed_time report.updated_at %></td>
  <td><%= link_to_delete report, :text => 'X' %></td>
</tr>