<% hide_group ||= false %>
<% hide_deputy ||= false %>
<tr <%= error_attribute(report) %>>
  <td>
    <% if checkbox ||= false %>
      <%= check_box_tag 'ids[]', report.id, false, :class => 'report_id' %><br>
    <% end %>
    <span class="label label-info"><%= link_to_edit report, :text => 'Details' %></span><br>
    <%= short_validations report %>
  </td>
  <% unless hide_group %>
    <td><%= link_to_object report.group %></td>
  <% end %>
  <% unless hide_deputy %>
    <td><%= link_to_object report.deputy %></td>
  <% end %>
  <td class='max_width_200'><%= report.value %></td>
  <td><%= detailed_time report.reported_at %></td>
  <td><%= button_to_delete report, :text => 'x' %></td>
</tr>
