<%= f.error_messages %>
<table class="sharp">
  <% add = [ValueValidation, RunEveryValidation, RunBetweenValidation] %>
  <%= fields_for_sti f, :validations, add do |vf, index| %>
    <% validation = vf.object %>
    <%= vf.hidden_field :type %>
    <tr <%= error_attribute validation %>>
      <td>
        <% key = "report[validations_attributes][#{index}][active]" %>
        <%= check_box_with_label(key, true, !validation.new_record?, validation.type.to_s.sub('Validation',''), {:class => 'checkbox inline'} )%>

        <a rel="popover"
            title="<%= help_for_validations(validation)[:title] %>"
            data-content='<%= help_for_validations(validation)[:content] %>'>
          <i class='icon-question-sign'></i>
        </a>

      </td>
      <td>
        <% case validation
        when ValueValidation %>
          <%= vf.text_field :value_as_text %>
        <% when RunEveryValidation %>
          <%= vf.text_field :interval_value, :class => 'span1' %>
          <%= vf.select :interval_unit, time_units_for_select, {}, {:class => 'span2'} %>
          <%= vf.label :only_run_once, vf.check_box(:only_run_once)+ "only once/period", {:class => 'checkbox inline'}%>

        <% when RunBetweenValidation %>
          <%= vf.text_field :start_hms, {:class => 'span1'} %>
          <%= vf.text_field :end_hms,   {:class => 'span1'} %>
        <% end %>
        <% fields = capture do %>
          Ignore between
          <%= vf.text_field :ignore_start, :size => 5, :class => 'span1' %> and
          <%= vf.text_field :ignore_end, :size => 5, :class => 'span1' %>
        <% end %>

        <% if validation.ignore_start? or validation.ignore_end? %>
          <br />
          <%= fields %>
        <% else %>
          <% id = "_#{rand(111111111111)}" %>
          <%= nbsp(2) %>
          <%= link_to_function 'ignore?', "$('##{id}').toggle()", :class => 'btn btn-warning' %>
          <br />
            <span style="display:none" id="<%=id%>">
              <%= fields %>
            </span>
        <% end %>
      </td>
      <td>
        <%= vf.select :error_level, [['Ignore - 0', 0], ['Log - 1', 1], ['Email - 2', 2], ['Sms - 3', 3]], {}, {:class => 'span2'} %>
        <%=
            if validation.current_error_level != 0
              path = {:controller => :validations, :action => :update, :id => validation.id, :validation => {:current_error_level => 0}}
              link_to 'dismiss', path, :method => :put
            end
        %>
      </td>
    </tr>
  <% end %>
</table>
