<%= form_for @report do |f| %>
  <table>
    <% Report::NESTED_VALIDATIONS.each do |validation_name| %>
      <tr>
        <% @report.send(validation_name) or @report.send("build_#{validation_name}") %>
        <%= f.fields_for validation_name.to_sym do |validation_form| %>
          <% validation = validation_form.object %>
          <td><%= check_box_with_label "report[#{validation_name}_attributes][active]", false, !validation.new_record?, validation_name.to_s.camelcase.sub('Validation','') %></td>
          <td>
            <% case validation
               when ValueValidation %>
              <%= validation_form.text_field :value_as_text %>
            <% when RunEveryValidation %>
              <%= validation_form.text_field :interval_value %>
              <%= validation_form.select :interval_unit, time_units_for_select %>
            <% when RunBetweenValidation %>
              <%= validation_form.text_field :start_hms %>
              <%= validation_form.text_field :end_hms %>
            <% end %>
          </td>
          <td>warn via <%= validation_form.select :severity, [['Log', 0], ['Email', 1], ['Sms',2]] %></td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <%= f.submit %>
<% end %>

<h3>Historic Values</h3>
<table>
  <tr>
    <th>Value</th>
    <th>Reported at</th>
  </tr>
  <% @report.historic_values.each do |historic_value| %>
    <tr>
      <td><%= historic_value.value %></td>
      <td><%= historic_value.reported_at.to_s(:db) %></td>
    </tr>
  <% end %>
</table>
