<% if deputy_plugin = @report.deputy_plugin %>
  Reported by <%= link_to_object deputy_plugin.plugin %> @ <%= link_to_object @report.deputy %>
  every <%= deputy_plugin.humanized_interval %>
<% else %>
  Reported by <%= link_to_object @report.deputy %>
<% end %>

<br />

<%= form_for @report do |f| %>
  <%= f.error_messages %>
  <table>
    <% add = [ValueValidation, RunEveryValidation, RunBetweenValidation] %>
    <% fields_for_sti f, :validations, add do |vf, index| %>
      <% validation = vf.object %>
      <%= vf.hidden_field :type %>
      <tr <%= error_attribute validation %>>
        <td>
          <% key = "report[validations_attributes][#{index}][active]" %>
          <%= check_box_with_label key, true, !validation.new_record?, validation.type.to_s.sub('Validation','') %>
        </td>
        <td>
          <% case validation
             when ValueValidation %>
            <%= vf.text_field :value_as_text %>
          <% when RunEveryValidation %>
            <%= vf.text_field :interval_value %>
            <%= vf.select :interval_unit, time_units_for_select %>
            <%= vf.check_box :only_run_once %> <%= vf.label :only_run_once, 'once' %>
          <% when RunBetweenValidation %>
            <%= vf.text_field :start_hms %>
            <%= vf.text_field :end_hms %>
          <% end %>
          <% fields = capture do %>
            Ignore between
            <%= vf.text_field :ignore_start, :size => 5 %> and
            <%= vf.text_field :ignore_end, :size => 5 %>
          <% end %>

          <% if validation.ignore_start? or validation.ignore_end? %>
            <br />
            <%= fields %>
          <% else %>
            <% id = "_#{rand(111111111111)}" %>
            <%= link_to_function 'ignore?', "$('##{id}').toggle()" %>
            <br />
            <span style="display:none" id="<%=id%>">
              <%= fields %>
            </span>
          <% end %>
        </td>
        <td>warn via <%= vf.select :error_level, [['Ignore', 0], ['Log', 1], ['Email', 2], ['Sms', 3]] %></td>
      </tr>
    <% end %>
  </table>
  <%= f.submit %>
<% end %>

<h3>Alerts</h3>
<div style="max-height:200px; overflow:auto">
  <table>
    <% @report.alerts.each do |alert| %>
      <tr <%= error_attribute alert %>>
        <td><%= detailed_time alert.created_at %></td>
        <td><%= alert.message %></td>
        <td><%= link_to_delete alert, :text => 'x' %></td>
      </tr>
    <% end %>
  </table>
</div>


<h3>Values</h3>
<div style="max-height:600px; overflow:auto">
  <table>
    <tr>
      <th>Value</th>
      <th>Reported at</th>
    </tr>
    <% @report.historic_values_including_current.each do |historic_value| %>
      <tr <%= error_attribute(historic_value) %>>
        <td><%= historic_value.value_as_text %></td>
        <td><%= detailed_time historic_value.reported_at %></td>
      </tr>
    <% end %>
  </table>
</div>