<% if deputy_plugin = @report.deputy_plugin %>
  Reported by <%= link_to_object deputy_plugin.plugin %> @ <%= link_to_object @report.deputy %>
  every <%= deputy_plugin.humanized_interval %>
<% else %>
  Reported by <%= link_to_object @report.deputy %>
<% end %>
in group: <%= link_to_object @report.group %>


<hr>
<a class="btn btn-primary" data-toggle="modal" href="#validationForm" >Edit Validations</a>
<br>
<div class="well">
  <%= @report.human_validation_display %>
</div>

<div class="well">
  <% if @report.alerts.size > 0 %>
    <% alerts = @report.alerts %>
    <h3>Alerts (<%= alerts.size %> in last <%= distance_of_time_in_words_to_now(alerts.last.created_at) %>)</h3>
    <div style="max-height:200px; overflow:auto">
      <table class="sharp">
        <% alerts.each do |alert| %>
          <tr <%= error_attribute alert %>>
            <td><%= detailed_time alert.created_at %></td>
            <td><%= alert.message %></td>
            <td><%= button_to_delete alert, :text => 'x' %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <%= form_tag '/reports/clear_alerts' do %>
      <%= hidden_field_tag :id, @report.id %>
      <%= submit_tag 'Clear Alerts', :class => 'btn btn-primary' %>
    <% end %>
  <% else %>
  <h3>No Recent Alerts</h3>
  <% end %>
</div>

<div class="well">
  <h3>Recent Values</h3>
  <div style="max-height:600px; overflow:auto">
    <table class="sharp">
      <tr>
        <th>Value</th>
        <th>Reported at</th>
      </tr>
      <% @report.historic_values_including_current.each do |historic_value| %>
        <tr <%= error_attribute(historic_value) %>>
          <td><%= historic_value.value_as_text %></td>
          <td><%= detailed_time historic_value.reported_at %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<!-- this form is not visible -->
<div id='validationForm' class='modal fade well'>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Edit Validations</h3>
  </div>
  <%= form_for @report do |f| %>
    <%= render 'validation_form', :f => f %>
    <%= submit_tag 'Save', :class => 'btn btn-primary' %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  <% end %>
</div>
