<table>
  <tr>
    <th></th>
    <th>Group</th>
    <th>Deputy</th>
    <th>Value</th>
    <th>at</th>
  </tr>
  <% collection.each do |report| %>
    <%= render :partial => 'report_row', :locals => {:report => report} %>
  <% end %>
</table>

<br />
<br />

<% form_tag '/reports' do %>
  Group: <%= text_field_tag :level1, '' %>.<%= text_field_tag :level2, '' %>
  Value: <%= text_field_tag :value, '' %>
  <%= submit_tag 'Test-report' %>
<% end %>