<%= form_tag '/reports' do %>
  Group: <%= text_field_tag :group, '' %>
  Value: <%= text_field_tag :value, '' %>
  <%= submit_tag 'Test-report', :class => 'btn btn-primary' %>
<% end %>

<%= paginate collection %>
<table class="sharp">
  <tr>
    <th></th>
    <th><%= sort_head 'Group', :column => :group_id %></th>
    <th><%= sort_head 'Deputy', :column => :deputy_id %></th>
    <th><%= sort_head 'Value' %></th>
    <th><%= sort_head 'at', :column => :reported_at %></th>
    <th></th>
  </tr>
  <% collection.each do |report| %>
    <%= render :partial => 'report_row', :locals => {:report => report} %>
  <% end %>
</table>
<%= paginate collection %>
