<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :jquery %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div>
      <% [Report, Deputy, Alert, Plugin].each do |type| %>
        <div class="left" style="padding-right: 20px"><%= link_to type.to_s.pluralize, type %></div>
      <% end %>
    </div>
    <%= clearer %>

    <%= yield(:content).presence || yield %>
  </body>
</html>