<!-- http://pilu.github.com/web-app-theme/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><%= title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
<body>
<div id="container">
  <div id="header">
    <h1><a href="/">Sheriff</a></h1>
    <% unless Boolean(Settings['run_cron']) %>
      <h3 style='text-weight:bold; color:red;'>CRON DISABLED!</h3>
    <% end %>
    <div id="main-navigation">
      <ul class="wat-cf">
        <% %w(Alert Group Report Deputy Plugin Settings).each do |type| %>
          <% is_active = (type.downcase == params[:controller]) %>
          <li class="<%= is_active ? 'active' : '' %>"><%= link_to type.pluralize, '/' + type.pluralize.downcase %></li>
        <% end %>
        <% if CFG[:resque] %>
          <% count = Resque.size(:jobs) %>
          <li <%= "class='red_alert'" if count > 200 %>><%= link_to "Resque overview (#{count} jobs) ⇗", '/resque/overview' %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="wrapper" class="wat-cf">
    <div class="flash">
      <% flash.each do |type, message| %>
        <div class="message <%= type %>">
          <p><%= message %></p>
        </div>
      <% end %>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <div id="main">
      <h1><%= heading %></h1>
      <%= yield %>
    </div>
  </div>
  <%= clearer %>
  <div id="footer">
    <div class="block">
      <p>Copyright &copy; <%= Time.now.year %> Dawanda GmbH</p>
    </div>
  </div>
</div>
</body>
</html>
