<!-- http://pilu.github.com/web-app-theme/ -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= title %></title>
  <%= stylesheet_link_tag "application", "web_app_theme", "themes/warehouse/style" %>
  <%= javascript_include_tag :jquery %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
  <div id="header">
    <h1><a href="/">Sheriff</a></h1>

    <div id="user-navigation">
      <ul class="wat-cf">
        <li><a href="/logout" class="logout">Logout</a></li>
      </ul>
    </div>
    <div id="main-navigation">
      <ul class="wat-cf">
        <% [Group, Report, Deputy, Alert, Plugin].each do |type| %>
          <% is_active = type.to_s.pluralize.downcase == params[:controller] %>
          <li class="<%= is_active ? 'active' : '' %>"><%= link_to type.to_s.pluralize, type %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div id="wrapper" class="wat-cf">
    <div class="flash">
      <% flash.each do |type, message| %>
        <div class="message <%= type %>">
          <p><%= message %></p>
        </div>
      <% end %>
    </div>
    <div id="sidebar">
      <%= yield :sidebar %>
    </div>
    <div id="main">
      <h1><%= heading %></h1>
      <%= yield %>
    </div>
  </div>
  <%= clearer %>
  <div id="footer">
    <div class="block">
      <p>Copyright &copy; <%= Time.now.year %> Dawanda GmbH</p>
    </div>
  </div>
</div>
</body>
</html>
